@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Manrope', sans-serif;
  background-color: beige;
}

button,
input{
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}

.link {
  text-decoration: none;
}

