.Card{
    width: 10%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.icons{
    font-size: 40px;
}